@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
  height: 100vh;
} */

.HeaderBG {
  height: fill !important;
  width: fill !important;
}

.firstSplug {
  position: absolute;
  z-index: 2;
  bottom: 130px;
}

.rocketGirl {
  position: absolute;
  top: 180px;
  bottom: 10px;
  right: 2rem;
  width: 600px;
  max-height: 540px;
  max-width: 500px;
  z-index: 2;
}

.navBar {
  width: 100%;
}

.navText {
  font-family: Lato;
}
.contactText {
  color: #ec8b4d;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  margin-right: 7px;
}

.contactBubble {
  position: relative;
  top: -13px;
  right: -13px;
}

.firstStar {
  position: absolute;
  z-index: 3;
  top: 10rem;
}

.secondStar {
  position: absolute;
  z-index: 3;
  top: 21rem;
  left: 3rem;
}

.thirdStar {
  position: absolute;
  z-index: 3;
  bottom: 2rem;
  left: 4rem;
}

.fourthStar {
  position: absolute;
  z-index: 3;
  top: 10rem;
  left: 52.5rem;
}

.fifthStar {
  position: absolute;
  z-index: 3;
  bottom: 4rem;
  left: 49rem;
}

.secondSplug {
  position: absolute;
  z-index: 1;
  top: 4.5rem;
  right: 0;
  width: 610px;
  max-height: 650px;
}

.headerArrow {
  position: absolute;
  bottom: 1rem;
  left: 43.5rem;
  cursor: pointer;
}

.headerText1 {
  color: #fff;
  font-family: LEMON MILK;
  font-size: 74px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.headerText2 {
  color: #e3fde6;
  font-family: LEMON MILK;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.headerText3 {
  color: #fff;
  font-family: LEMON MILK;
  font-size: 74px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.headerTextContainer {
  position: absolute;
  bottom: 10rem;
  left: 10rem;
  max-width: 24rem;
}

.headerText {
  position: absolute;
  top: 5rem;
  left: 6rem;
}

.headerText4 {
  color: #fff;
  font-family: Lato;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.headerText5 {
  color: #fff;
  font-family: Lato;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.headerExploreContainer {
  position: absolute;
  bottom: 6rem;
  left: 11rem;
  border-radius: 50px;
  padding: 1rem 4rem 1rem 4rem;
  background-color: #fff;
}

.headerExplore {
  color: #6d387a;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.headerMobile {
  display: none;
}
.headerDesktop {
  height: 100vh;
}
@media (max-width: 765px) {
  .headerMobile {
    display: block;
    height: 90vh;
  }
  .headerDesktop {
    display: none;
  }
  .mobileBG {
    position: absolute;
    top: 0;
    max-height: 750px;
    max-width: 100%;
    z-index: 10;
  }
  .mobileBG2 {
    position: absolute;
    bottom: 0;
    max-height: 33rem;
    z-index: 20;
  }
  .purpleArrow {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 11.1rem;
    z-index: 30;
  }
  .rocketGirlmobile {
    position: absolute;
    left: 3rem;
    bottom: 10rem;
    max-width: 20rem;
    max-height: 20rem;
    z-index: 30;
  }
  .firstStarmobile {
    position: absolute;
    top: 6rem;
    z-index: 30;
  }
  .secondStarmobile {
    position: absolute;
    top: 16rem;
    left: 2rem;
    z-index: 30;
  }
  .thirdStarmobile {
    position: absolute;
    bottom: 10.5rem;
    left: 2rem;
    z-index: 30;
  }
  .fourthStarmobile {
    position: absolute;
    top: 9.7rem;
    right: 3rem;
    z-index: 30;
  }
  .firstSplug {
    width: 110px;
  }
  .secondSplug {
    position: absolute;
    z-index: 1;
    top: 4.5rem;
    right: 0;
    width: 430px;
    max-height: 650px;
  }
  .rocketGirl {
    right: 0;
    top: 16rem;
    width: 370px;
  }
  .headerText {
    left: 2rem;
    max-width: 20rem;
    z-index: 30;
  }
  .headerText1 {
    color: #fff;
    font-family: LEMON MILK;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .headerText2 {
    color: #e3fde6;
    font-family: LEMON MILK;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .headerText3 {
    color: #fff;
    font-family: LEMON MILK;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 30;
  }
  .headerText4 {
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    z-index: 30;
  }
  .headerText5 {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  .headerTextContainer {
    position: absolute;
    left: 3rem;
    max-width: 20rem;
    bottom: 4rem !important;
    z-index: 30;
  }
  .headerContainer {
    max-width: 30rem;
  }
  .headerExploreContainer {
    left: 9.3rem;
    bottom: 2.6rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    z-index: 30;
    background-color: #ee650d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
  }
  .headerExplore {
    color: #fff;
  }
  .servicesMobileContainer {
    height: 100vh;
    margin-top: 4rem;
  }
  .swiper {
    height: 100%;
  }
  .servicesContainerDesktop {
    display: none;
  }
  .aboutContainer {
    display: none !important;
  }
}

.servicesContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
}

.servicesInfo {
  display: flex;
}

.servicesInfo1 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 3rem;
}

.services {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 408px;
  padding: 1rem;
}

.services1 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 0.8rem;
  max-width: 90rem;
  border-radius: 40px;
  background-image: linear-gradient(143deg, #ec8b4d -96.59%, #ee5d00 91.56%);
}
.services2 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 40px;
  background-image: linear-gradient(331deg, #5f2a68 1.3%, #aa78c9 219.67%);
}

.services3 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 40px;
  background-image: linear-gradient(145deg, #3e7858 0.78%, #1f3c2c 125.6%);
}
.services4 {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 0;
  border-radius: 40px;
  background-image: linear-gradient(143deg, #ec8b4d -96.59%, #ee5d00 91.56%);
}
.servicesData {
  max-width: 19rem;
  margin-left: 1.5rem;
}
.getService {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.getServiceText {
  position: absolute;
  right: 11.6rem;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.servicesHeader1 {
  color: #fff;
  font-family: LEMON MILK;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.servicesPara {
  color: #fff;
  font-family: Lato;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.cgi {
  margin-top: 0.5rem;
}
.servicesSVG {
  padding-left: 2rem;
}
.get {
  margin-right: 2rem;
}
.servicesInfoData {
  position: absolute;
  color: white;
  max-width: 20rem;
  top: 58rem;
  left: 10rem;
}
.servicesInfoPara {
  color: #fff;
  font-family: Lato;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  max-width: 19rem;
  margin-top: 1.5rem;
  margin-left: -1rem;
}
.servicesExplore {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 50px;
  background-color: #eb6c1b;
}
.servicesInfoData1 {
  color: #fff;
  font-family: LEMON MILK;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  position: relative;
}
.aboutContainer {
  height: 100vh;
  display: flex;
}
.aboutHeader {
  color: #f87d2e;
  font-family: LEMON MILK;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutFirstSplug {
  margin-top: 5rem;
}
.aboutSecondSplug {
  position: absolute;
  right: 0;
  top: 88rem;
}
.aboutRocket {
  position: absolute;
  right: 6rem;
  top: 99rem;
  width: 338px;
  height: 518px;
}
.appDevMobile {
  width: 250px;
  height: 409px;
  border-radius: 50px;
  flex-shrink: 0;
  z-index: 50;
  background-image: linear-gradient(143deg, #ec8b4d -96.59%, #ee5d00 91.56%);
}
.appDevMobile1 {
  width: 250px;
  height: 409px;
  border-radius: 50px;
  flex-shrink: 0;
  z-index: 40;
  background-image: linear-gradient(145deg, #3e7858 0.78%, #1f3c2c 125.6%);
}
.appDevMobile2 {
  width: 250px;
  height: 409px;
  border-radius: 50px;
  flex-shrink: 0;
  z-index: 30;
  fill: linear-gradient(143deg, #ec8b4d -96.59%, #ee5d00 91.56%);
}
.appDevMobile3 {
  width: 250px;
  height: 409px;
  border-radius: 50px;
  flex-shrink: 0;
  z-index: 20;
  fill: linear-gradient(143deg, #ec8b4d -96.59%, #ee5d00 91.56%);
}
